@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alpino-Regular";
  src: url("/fonts/Alpino-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Alpino-Medium";
  src: url("/fonts/Alpino-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Alpino-Bold";
  src: url("/fonts/Alpino-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.satoshi-700 {
  font-family: "Satoshi-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.satoshi-400 {
  font-family: "Satoshi-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.satoshi-500 {
  font-family: "Satoshi-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.alpino-700 {
  font-family: "Alpino-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.alpino-400 {
  font-family: "Alpino-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.alpino-500 {
  font-family: "Alpino-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
